<div class="Section breakDivPage clsSection">
    <div class="SectionHead">
        <u>Section 5M</u> - Superstructure and Poop Deck - External Standards
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Cleanliness and hygiene</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="CleanlinessandhygieneComment" rows="1">@Model.CleanlinessandhygieneComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Condition</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ConditionComment5M" rows="1">@Model.ConditionComment5M</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Paintwork</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="PaintworkComment5M" rows="1">@Model.PaintworkComment5M</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Signal mast and stays</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SignalmastandstaysComment" rows="1">@Model.SignalmastandstaysComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Monkey island</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="MonkeyislandComment" rows="1">@Model.MonkeyislandComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Fire Dampers</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="FireDampersComment" rows="1">@Model.FireDampersComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Rails / Bulwarks</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="RailsBulwarksComment" rows="1">@Model.RailsBulwarksComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    8
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Watertight doors</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="WatertightdoorsComment" rows="1">@Model.WatertightdoorsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    9
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Ventilators</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="VentilatorsComment" rows="1">@Model.VentilatorsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    10
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Winches / Windlasses</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="WinchesComment" rows="1">@Model.WinchesComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    11
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Fairleads (including pedestals)</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="FairleadsComment" rows="1">@Model.FairleadsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    12
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Mooring Lines</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="MooringLinesComment" rows="1">@Model.MooringLinesComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    13
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Emergency Shut-Offs</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="EmergencyShutOffsComment" rows="1">@Model.EmergencyShutOffsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    14
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Radio aerials out of port holes / windows</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="RadioaerialsComment" rows="1">@Model.RadioaerialsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    15
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">SOPEP locker:</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SOPEPlockerComment" rows="1">@Model.SOPEPlockerComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    16
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Chemical locker:</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ChemicallockerComment" rows="1">@Model.ChemicallockerComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    17
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Gas Cylinders Lockers</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 clsDeficienciesText GIRData" name="CylindersLockerComment" rows="1">@Model.CylindersLockerComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    18
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Area around mooring station coated with anti-slip paint</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="AntislippaintComment" rows="1">@Model.AntislippaintComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    19
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Entrance to Snap Back Zone properly marked</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 clsDeficienciesText GIRData" name="SnapBackZone5NComment" rows="1">@Model.SnapBackZone5NComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td colspan="3" width="100%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SuperstructureComment" rows="2">@Model.SuperstructureComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="Section breakDiv clsSection">
    <div class="SectionHead">
        <u id="sectionDeficiencies5N">Section 5N</u> - Superstructure - Internal Standards
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td colspan="2" width="90%" class="v-al-m">
                    <p class="m-0 m-l-5">Cleanliness and hygiene (housekeeping) and condition</p>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    a)
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Cabins</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="CabinsComment" rows="1">@Model.CabinsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    b)
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Offices</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="OfficesComment" rows="1">@Model.OfficesComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    c)
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Mess rooms</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="MessroomsComment" rows="1">@Model.MessroomsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    d)
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Toilets</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ToiletsComment" rows="1">@Model.ToiletsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    e)
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Laundry room</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="LaundryroomComment" rows="1">@Model.LaundryroomComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    f)
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Changing room</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ChangingroomComment" rows="1">@Model.ChangingroomComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    g)
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Other</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="OtherComment" rows="1">@Model.OtherComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Condition</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="ConditionComment5N" rows="1">@Model.ConditionComment5N</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Self-closing fire doors</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SelfclosingfiredoorsComment" rows="1">@Model.SelfclosingfiredoorsComment</textarea>
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td width="10%" class="v-al-m text-center clsItemNo">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Stairwells, alleyways, and lighting</p>
                </td>
                <td width="50%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="StairwellsComment" rows="1">@Model.StairwellsComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr class="addDeficiencies">
                <td colspan="3" width="100%" class="clsDeficiencies">
                    <textarea class="form-control col-md-12 GIRData" name="SuperstructureInternalComment" rows="2">@Model.SuperstructureInternalComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        @* RDBJ 10/20/2021 Set Name, Value and wrapped in if*@
        @if (Model.IsSuperstructureSectionComplete == true)
        {
            <input type="checkbox" class="GIRData" name="IsSuperstructureSectionComplete" value="true" style="margin-left:20px;" checked />
        }
        else
        {
            <input type="checkbox" class="GIRData" name="IsSuperstructureSectionComplete" value="false" style="margin-left:20px;" />
        }
    </div>
</div>
