@model IEnumerable<OfficeApplication.BLL.Modals.InternalAuditForm>

@{
    ViewBag.Title = "Internal Audit Form";
}
@*  RDBJ 01/07/2022 Added CSS *@
<style>
    .AuditNotes tr td {
        padding: 2px !important;
        padding-bottom: 0px !important;
    }

    label.col-md-12.form-control.number {
        margin-bottom: 3px;
        font-weight: unset;
    }

    #ReferenceModal .modal-dialog,
    #ReferenceModal .modal-content {
        /* 80% of window height */
        height: 80%;
    }

    #ReferenceModal .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 120px);
        overflow-y: scroll;
    }

    .fa-fw {
        background-color: #FFFFE1;
        padding: 2px;
    }

    .fa-plus {
        color: green;
    }

    .fa-remove {
        color: red;
    }

    .filelist:hover {
        background-color: #3c8dbc;
    }

    #fileinfo {
        text-align: left;
    }

    .filelist {
        text-align: left;
        padding: 5px;
    }

    div.file {
        position: relative;
        overflow: hidden;
    }

    input.file {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }

    .tree, .tree ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .tree ul {
            margin-left: 1em;
            position: relative;
        }

            .tree ul ul {
                margin-left: .5em;
            }

            .tree ul:before {
                content: "";
                display: block;
                width: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                border-left: 1px solid;
            }

        .tree li {
            /*margin: 0;
            padding: 0 1em;
            line-height: 2em;
            color: #369;
            font-weight: 700;
            position: relative;*/
        }

        .tree ul li:before {
            content: "";
            display: block;
            width: 10px;
            height: 0;
            border-top: 1px solid;
            margin-top: -1px;
            position: absolute;
            top: 1em;
            left: 0;
        }

        .tree ul li:last-child:before {
            background: #fff;
            height: auto;
            top: 1em;
            bottom: 0;
        }

    .indicator {
        margin-right: 5px;
    }

    .tree li a {
        text-decoration: none;
        color: #369;
    }

    .tree li button, .tree li button:active, .tree li button:focus {
        text-decoration: none;
        color: #369;
        border: none;
        background: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        outline: 0;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    /* RDBJ 01/08/2022 do not remove this css, due to hide trial version used section */
    .ui-igtrialwatermark {
        display: none !important;
    }
</style>
@* End RDBJ 01/07/2022 Added CSS *@

@* RDBJ 01/07/2022 Added below script *@
<script type="text/javascript" src="~/Scripts/jquery/jquery.validate.min.js"></script>

@* RDBJ 01/20/2022 added below script *@
<script type="text/javascript" src="~/Scripts/autoSize/autosize.min.js"></script>

<script>
    var RootUrl = '@Url.Content("~/")';
    var AuditRootUrl = '@Url.Content("~/")'; // RDBJ 01/08/2022
    var Numbers = '@ViewBag.StringNumbers'; // RDBJ 01/08/2022

    // RDBJ 01/08/2022 commented old codes
    @*function ViewGIRForm(ctr) {
        var url = RootUrl + 'GIRList/Index?id=' + ctr;
        alert(ctr)
        $.ajax({
            type: 'GET',
            dataType: 'json',
            async: false,
            url: url,

            success: function (Data) {

            },
            error: function (data) {
                console.log(data);
            }
        });
    }
    function LoadGrid() {
        var month = $("#ddlReportPeriod").val();

        var array = @Html.Raw(Json.Encode(@ViewBag.Listdata));
        var obj = new Array();
        for (var i = 0; i < array.length; i++) {
            var item = new Object();
            item.ShipName = array[i].ShipName;
            item.InternalAuditFormId = array[i].InternalAuditFormId;
            item.Date = array[i].Date;
            item.Auditor = array[i].Auditor;
            item.Location = array[i].Location;
            item.AuditNo = array[i].AuditNo;
            obj.push(item);
        }
        $('#grid').empty();
        $('#grid').kendoGrid({

                    scrollable: true,

                    filterable: true,
                    selectable: true,
                    change: function () {
                        var row = this.select();
                        var id = row[0].cells[1].textContent;
                        var _url = RootUrl + "IAFList/DetailsView?id=" + id ;
                        window.open(_url, '_blank');
                    },
                    pageable: {
                        alwaysVisible: true,
                        pageSizes: [5, 10, 20, 100]
                    },
                    dataSource: {
                        data: obj,
                        pageSize: 10
                    },
                    dataBound: function () {
                        for (var i = 0; i < this.columns.length; i++) {
                            this.autoFitColumn(i);
                        }
                    },
                    columns: [
                        {
                            field: "ShipName",
                            title: "Ship Name"
                        },
                        {
                            field: "InternalAuditFormId",
                            title: "InternalAuditFormId",
                            hidden: true
                        },
                        {
                            field: "Date",
                            title: "Date",
                            template: "#= Date!=null? kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd'), 'MM/dd/yyyy'):'' #"
                        },
                        {
                            field: "Auditor",
                            title: "Auditor"
                        },
                        {
                            field: "AuditNo",
                            title: "AuditNo"
                        },
                        {
                            field: "Location",
                            title: "Location"
                        }
                    ],

                    dataBound: function () {
                        var grid = this;
                        $(".k-grouping-row").each(function (e) {
                            grid.collapseGroup(this);
                        });
                    },

                });

    }*@
    // End RDBJ 01/08/2022 commented old codes

</script>
<script src="~/Scripts/Custom/IAFHandler.js?v=09102022"></script>
<script src="~/Scripts/Custom/LoadReferenceData.js?v=01082022"></script>

@* RDBJ 01/08/2022 Added below js *@
<!-- Ignite UI for jQuery Required Combined JavaScript Files -->
<link href="https://cdn-na.infragistics.com/igniteui/2021.1/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link href="https://cdn-na.infragistics.com/igniteui/2021.1/latest/css/structure/infragistics.css" rel="stylesheet" />
<script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="https://cdn-na.infragistics.com/igniteui/2021.1/latest/js/infragistics.core.js"></script>
<script src="https://cdn-na.infragistics.com/igniteui/2021.1/latest/js/infragistics.lob.js"></script>
@* End RDBJ 01/08/2022 Added below js *@

@* RDBJ 01/08/2022 commented old codes *@
@*<script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-treeview.js"></script>
    <script src="~/Scripts/Custom/ReferencesData.js"></script>*@
@*<script type="text/javascript">
        $(function () {
            $('#ISMTree').treeview({
                color: "#428bca",
                levels: 1,
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',
                data: defaultData
            });
            $('#SSPTree').treeview({
                color: "#428bca",
                levels: 1,
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',
                data: SSPData
            });
            $('#MLCTree').treeview({
                color: "#428bca",
                levels: 1,
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',
                data: MLCData
            });
        });
    </script>*@
@* End RDBJ 01/08/2022 commented old codes *@

@* RDBJ 01/07/2022 Added GIRForm.css CSS *@
<link href="~/Content/Custom/GIRForm.css" rel="stylesheet" />

@* RDBJ 01/07/2022 Added IAF Form *@
<section class="content" style="padding-top:0px;">
    <div class="row">
        <div class="col-md-12 leftContent" style="overflow:auto;">
            <div class="row section1">
                <div class="col-md-3">

                </div>
                <div class="col-md-6 text-center">
                    <h3 style="margin-top:30px;">
                        Internal Audit Form
                    </h3>
                    <h5 id="lblSubHeading">General</h5>

                </div>
                <div class="col-md-3" style="margin-top:10px;">
                    <p class="m-0"> Form: GIR</p>
                    <p class="m-0">Issue No: 5-08/14</p>
                    <p class="m-0">Amend No: 6-12/16</p>
                </div>
            </div>

            <form id="IAForm" name="IAForm" method="post" action="@Url.Action("Index", "IAFList" )">
                <div class="section1">
                    <div class="row" id="GIRContent">
                        <div class="col-md-12">
                            <div class="GeneralSection PageSection">
                                <div class="SectionInstructions breakDiv aviodPrint">
                                    <div class="instruction m-10">
                                        <p class="m-5">Instructions</p>
                                        <ul>
                                            <li>
                                                This form is to be completed by a an company appointed auditor only. To make a response to an outstanding audit note, please open it from "Saved Forms > [Audit ID]".
                                            </li>
                                            <li>  Complete the "Audit Details" section fully </li>
                                            <li>Using the following controls in the "Audit Notes" table: </li>
                                            <p class="m-5 "><i class="fa fa-fw fa-plus"></i>  Add a new audit note</p>
                                            <p class="m-5 "><i class="fa fa-fw fa-file-text-o"></i>  Edit the selected audit note</p>
                                            <p class="m-5 "><i class="fa fa-fw fa-remove"></i> Delete the selected audit note</p>
                                            <p class="m-5 "><i class="fa fa-fw fa-caret-up"></i>   Move the selected audit note up</p>
                                            <p class="m-5 "><i class="fa fa-fw fa-caret-down"></i>   Move the selected audit note down</p>
                                            <li>Add an audit note for each NCN or OBS that you have recorded (include notes for all types of audit/inspection completed)</li>
                                            <li>Select the type of audit note for each and add a title. </li>
                                            <li> Click "Start" and you will begin with the first note in the table.</li>
                                            <li> You can return to the summary at any point and use it to Jump straight to any audit note. </li>
                                            <li>When you have completed all audit notes return to the summary and click "Submit </li>
                                            <li>You will be shown the folder containing the latest audit notes. Please show the same to the Master and ensure he is fully aware of the procedure for replying to each note. </li>
                                        </ul>
                                    </div>
                                    <div class="instruction m-10">
                                        <p class="m-5">Notes</p>
                                        <ul>
                                            <li>If the form is too large to email you will be requested to transfer to form the FTP server and you will be given and option to send an email informing the ISM department that you have done so. Alternatively you can reduce the number of attachments and try again.</li>
                                            <li> Details of the audit or audit notes can be changed at any point before submission.  </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="Section breakDiv aviodPrint">
                                    <div class="SectionHead text-center">
                                        Audit Details
                                    </div>
                                    <div class="SectionContent">
                                        <table class="table tblSection">
                                            <tr>
                                                <td width="10%"><p class="m-5">Ship:</p></td>
                                                <td width="40%">
                                                    <div class="form-group has-feedback">
                                                        @*@Html.DropDownList("txtShipId", ViewBag.ships as SelectList, new { @class = "form-control col-md-12", Name = "InternalAuditForm.ShipName" })*@
                                                        <select class="form-control  col-md-12 IAFAutoUpdateData" id="Child">
                                                            @*<option value="null">--Select Ship--</option>*@
                                                            @if (ViewBag.ShipDatas != null)
                                                            {
                                                                foreach (var item in ViewBag.ShipDatas)
                                                                {
                                                                    if (ViewBag.ShipCode == @item.Code)
                                                                    {
                                                                        <option value="@item.Code" selected>@item.Name</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.Code">@item.Name</option>
                                                                    }

                                                                }
                                                            }
                                                        </select>
                                                        <input type="hidden" name="InternalAuditForm.ShipName" id="ShipName" />
                                                        <input type="hidden" name="InternalAuditForm.UniqueFormID" id="UniqueFormID" />

                                                        @* JSL 04/25/2022 added hidden *@
                                                        <input type="hidden" name="InternalAuditForm.AuditType" id="AuditType" value="1" />

                                                        @* RDBJ 01/28/2022 added hidden *@
                                                        <input type="hidden" id="hdnIAFFormSavedAsDraft" class="col-md-12 form-control" name="InternalAuditForm.SavedAsDraft" value="true" />

                                                        <span class="form-control-feedback">
                                                            <label class="text-danger">*</label>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td width="10%" rowspan="3"><p class="m-5 text-center">Audit Type(s):</p></td>
                                                <td width="40%">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="InternalAuditForm.AuditTypeISM" value="true" class="{InternalAuditForm.AuditType:true} IAFAutoUpdateData" id="txtAuditTypeISM">
                                                                ISM
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="10%"><p class="m-5">Location</p></td>
                                                <td width="40%">
                                                    <div class="form-group has-feedback">
                                                        <input type="text" id="txtlocation" class="col-md-12 form-control IAFAutoUpdateData" name="InternalAuditForm.Location" />
                                                        <span class="form-control-feedback arrivalCalendarAddon">
                                                            <label class="text-danger">*</label>
                                                        </span>
                                                    </div>
                                                </td>

                                                @*
                                                    <td width="10%"><p class="m-5">Audit Type(s):</p></td>*@
                                                <td width="40%">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="InternalAuditForm.AuditTypeISPS" value="true" class="{InternalAuditForm.AuditType:true} IAFAutoUpdateData" id="txtAuditTypeISPS">
                                                                ISPS
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="10%"><p class="m-5">Audit No.:</p></td>
                                                <td width="40%">
                                                    <div class="form-group has-feedback">
                                                        <select class="col-md-12 form-control IAFAutoUpdateData" id="ddlAudit" name="InternalAuditFormAuditNo" disabled>
                                                            <option value="">In this the 1st, 2nd and 3rd this year?</option>
                                                            <option value="1" selected>1st Audit this year</option>
                                                            <option value="2">2nd Audit this year</option>
                                                            <option value="3">3rd Audit this year</option>
                                                        </select>

                                                        @* RDBJ 01/28/2022 added hidden *@
                                                        <input type="hidden" name="InternalAuditForm.AuditNo" value="1" />

                                                        <span class="form-control-feedback arrivalCalendarAddon">
                                                            <label class="text-danger">*</label>
                                                        </span>
                                                    </div>
                                                </td>
                                                @*
                                                    <td width="10%"><p class="m-5">Audit Type(s):</p></td>*@
                                                <td width="40%">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="InternalAuditForm.AuditTypeMLC" value="true" class="{InternalAuditForm.AuditType:true} IAFAutoUpdateData" id="txtAuditTypeMLC">
                                                                MLC
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="10%"><p class="m-5">Date :</p></td>
                                                <td width="40%">
                                                    <div class="form-group has-feedback">
                                                        <input type="text" id="txtDate" class="col-md-12 form-control datepicker IAFAutoUpdateData" name="InternalAuditForm.Date" autocomplete="off" />
                                                        <span class="form-control-feedback arrivalCalendarAddon">
                                                            <label class="text-danger">*</label> <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td width="10%"><p class="m-5">Auditor: </p></td>
                                                <td width="40%">
                                                    <div class="form-group has-feedback">
                                                        <select class="col-md-12 form-control IAFAutoUpdateData" id="ddlAuditor" name="InternalAuditForm.Auditor">
                                                            @* JSL 07/23/2022 *@
                                                            @if (ViewBag.AuditorsList != null)
                                                            {
                                                                foreach (var item in ViewBag.AuditorsList)
                                                                {
                                                                    <option value="@item.PersonName">@item.PersonName</option>
                                                                }
                                                            }
                                                            @* End JSL 07/23/2022 *@

                                                            @* JSL 07/23/2022 commented *@
                                                            <!--<option value=""></option>
                                                            <option>Angus Tapp</option>
                                                            <option>Bogdan Cojocaru</option>
                                                            <option>Bogdan Sokolowski</option>
                                                            <option>Krzysztof Nowaczyk</option>
                                                            <option>Zbigniew Strzyga</option>
                                                            <option>Jon Gray</option>-->
                                                            @* RDBJ 01/28/2022 added Tushar *@
                                                            <!--<option>Tushar Bijur</option>-->
                                                            @* End JSL 07/23/2022 commented *@
                                                        </select>
                                                        @*<input type="text" class="col-md-12 form-control" id="ddlAuditor" name="InternalAuditForm.Auditor" value="@OfficeApplication.BLL.Helpers.SessionManager.Username" readonly />*@
                                                        <span class="form-control-feedback">
                                                            <label class="text-danger">*</label>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="10%"><p class="m-5">Additional :</p></td>
                                                <td width="40%">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="InternalAuditForm.IsAdditional" value="true" class="{InternalAuditForm.IsAdditional:true} IAFAutoUpdateData" id="txtIsAdditional">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td width="10%"><p class="m-5">Closed :</p></td>
                                                <td width="40%">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="InternalAuditForm.IsClosed" value="true" class="{InternalAuditForm.IsClosed:true} IAFAutoUpdateData" id="txtIsClosed">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="Section breakDiv aviodPrint">
                                    <div class="SectionHead text-center">
                                        Audit Notes
                                    </div>
                                    <div class="SectionContent">
                                        <table class="table tblSection AuditNotes">
                                            <tr>
                                                <td width="10%"><p class="m-5 text-center">Number</p></td>
                                                <td width="15%"><p class="m-5 text-center">Type</p></td>
                                                <td width="65%"><p class="m-5 text-center">Brief Description</p></td>
                                                <td width="2%"><p class="m-5 text-center cursor-pointer" title="Add New Notes" onclick="addNewNotes()"><i class="fa fa-fw fa-plus"></i></p></td>
                                                <td width="2%"><p class="m-5 text-center cursor-pointer" title="Edit Notes" onclick="EditNotes()"><i class="fa fa-fw fa-file-text-o"></i></p></td>
                                                <td width="2%"><p class="m-5 text-center cursor-pointer" title="Delete Notes" onclick="removeNotes()"><i class="fa fa-fw fa-remove"></i></p></td>
                                                <td width="2%"><p class="m-5 text-center cursor-pointer" title="Move Up Note" @*onclick="MoveNote('up')"*@><i class=" fa fa-fw fa-caret-up"></i></p></td>
                                                <td width="2%"><p class="m-5 text-center cursor-pointer" title="Move Down Note" @*onclick="MoveNote('down')"*@><i class=" fa fa-fw fa-caret-down"></i></p></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    @* JSL 09/10/2022 added class avoidPrint *@
                    <div class="row avoidPrint">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="btnStart">Start</button>
                            <button type="submit" id="btnSubmit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>

                <div class="Listsection2" id="IAFFormPrint" style="display:none;">

                </div>
                @* JSL 09/10/2022 added class avoidPrint *@
                <div class="row Listsection2footer avoidPrint" style="display:none;">
                    <div class="col-md-12">
                        <button type="button" id="btnSummary" onclick="ViewPrevious()" class="btn btn-primary">
                            Go to summary
                        </button> &nbsp;&nbsp;
                        <button type="button" id="btnPrevious" class="btn btn-primary">
                            Previous
                        </button> &nbsp;&nbsp;
                        <button type="button" onclick="ValidateIAFStep2('n');" id="btnNext" class="btn btn-primary">
                            Next
                        </button> &nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" onclick="printDiv()">
                            Print
                        </button>

                    </div>
                </div>
            </form>
        </div>

    </div>
</section>
@* End RDBJ 01/07/2022 Added IAF Form *@

@* RDBJ 01/07/2022 Added Reference Modal *@
<div id="ReferenceModal" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Reference</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="ISMTree" class=""></ul>
                        <ul id="MLCTree" class=""></ul>
                        <ul id="SSPTree" class=""></ul>
                    </div>
                </div>
                <input type="hidden" id="ReferenceData" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnselect">Select</button>
            </div>
        </div>
    </div>
</div>
@* End RDBJ 01/07/2022 Added Reference Modal *@


@* RDBJ 01/08/2022 File Upload Error Modal *@
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Files types are not supported</h4>
            </div>
            <div class="modal-body">
                <p>&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@* End RDBJ 01/08/2022 File Upload Error Modal *@


@* RDBJ 01/07/2022 commented old codes  *@
@*<div class="well well-sm" style="margin-bottom:0px;">General Inspection Reports <a href="@Url.Action("Index", "Forms")" class="label label-info" style="float:right;">GO BACK</a></div>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">

                        <input type="hidden" id="hdnSelectedVal" name="hdnSelectedVal" value="" />
                        <select name="ddlReportPeriod" id="ddlReportPeriod">
                            <option value="Annual">Annual</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>

                    </div>
                    <div class="box-body" id="ReportPage">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="grid">
                                    <div class="well">Loading Please Wait...</div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer clearfix no-border">
                            <button type="button" class="btn btn-default" onclick="PrintReport()"><i class="fa fa-print"></i> Print</button>&nbsp;&nbsp;&nbsp;
                            <a href="@Url.Action("DownloadInvoice", "Reports")" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Export</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>*@
@* RDBJ 01/07/2022 commented old codes  *@