<div class="Section breakDiv">
    <div class="SectionHead">
        <u>Section 5T</u> - Hull, Including Paintwork
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Boot top</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="BoottopComment" rows="1">@Model.BoottopComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Topsides</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="TopsidesComment" rows="1">@Model.TopsidesComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Anti-fouling</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="AntifoulingComment" rows="1">@Model.AntifoulingComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Draft and plimsoll marks etc.</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="DraftandplimsollComment" rows="1">@Model.DraftandplimsollComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Fouling</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="FoulingComment" rows="1">@Model.FoulingComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Mechanical damage</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="MechanicalComment" rows="1">@Model.MechanicalComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr>
                <td colspan="3" width="100%">
                    <textarea class="form-control col-md-12" name="HullComment" rows="2">@Model.HullComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsHullSectionComplete" style="margin-left:20px;">
    </div>
</div>
