<div class="Section breakDiv">
    <div class="SectionHead">
        <u>Section 5D</u> - Upkeep of Records
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td colspan="2" width="90%" class="v-al-m">
                    <table width="100%">
                        <tr>
                            <td width="40%">Official logbook:</td>
                            <td width="50%"></td>
                        </tr>
                        <tr>
                            <td width="40%"><p class="m-0 m-l-10">a) C/O appointed as safety officer</p></td>
                            <td width="50%">
                                <textarea class="form-control col-md-12" name="OfficialLogbookA" rows="1">@Model.OfficialLogbookA</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%"><p class="m-0 m-l-10">b) Back-up crew member appointed for C/E (only on ships with single engineer)</p></td>
                            <td width="50%">
                                <textarea class="form-control col-md-12" name="OfficialLogbookB" rows="1">@Model.OfficialLogbookB</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%"><p class="m-0 m-l-10">c) Drills completed according to SMS / SOLAS</p></td>
                            <td width="50%">
                                <textarea class="form-control col-md-12" name="OfficialLogbookC" rows="1">@Model.OfficialLogbookC</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%"><p class="m-0 m-l-10">d) Emergency steering gear drills recorded</p></td>
                            <td width="50%">
                                <textarea class="form-control col-md-12" name="OfficialLogbookD" rows="1">@Model.OfficialLogbookD</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%"><p class="m-0 m-l-10">e) Any other comments</p></td>
                            <td width="50%">
                                <textarea class="form-control col-md-12" name="OfficialLogbookE" rows="1">@Model.OfficialLogbookE</textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Deck logbook</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="DeckLogbook" rows="1">@Model.DeckLogbook</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">List of crew</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="Listofcrew" rows="1">@Model.Listofcrew</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Last hose / ultrasonic hatch test</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="LastHose" rows="1">@Model.LastHose</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Passage planning file</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="PassagePlanning" rows="1">@Model.PassagePlanning</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Loading and stability computer</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="LoadingComputer" rows="1">@Model.LoadingComputer</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Engine logbook</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="EngineLogbook" rows="1">@Model.EngineLogbook</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    8
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Oil Record Book</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="OilRecordBook" rows="1">@Model.OilRecordBook</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    9
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Risk assessments</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="RiskAssessments" rows="1">@Model.RiskAssessments</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    10
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">GMDSS logbook</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GMDSSLogbook" rows="1">@Model.GMDSSLogbook</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    11
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Deck</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="DeckLogbook5D" rows="1">@Model.DeckLogbook5D</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    12
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Garbage Record Book + Discharge Ashore Receipts</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GarbageRecordBook" rows="1">@Model.GarbageRecordBook</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    13
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Ballast Water Record Book</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="BallastWaterRecordBook" rows="1">@Model.BallastWaterRecordBook</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    14
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Cargo Record Book</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="CargoRecordBook" rows="1">@Model.CargoRecordBook</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    15
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Emissions Control Manual</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="EmissionsControlManual" rows="1">@Model.EmissionsControlManual</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    16
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">LGR - Lifting Equipment and Loose Gear Register</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="LGR" rows="1">@Model.LGR</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    17
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">PEER - Portable Electrical Equipment Register</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="PEER" rows="1">@Model.PEER</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%">
                    <textarea class="form-control col-md-12" name="RecordKeepingComments" rows="2">@Model.RecordKeepingComments</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="Section breakDivPage">
    <div class="SectionHead">
        <u>Section 5E</u> - Last Port State Control and / or Flag State Inspection
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td>
                    <textarea class="form-control col-md-12" name="LastPortStateControl" rows="2">@Model.LastPortStateControl</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsRecordKeepingSectionComplete" style="margin-left:20px;">
    </div>
</div>
