<div class="Section breakDivPage">
    <div class="SectionHead">
        <u>Section 5H</u> - Security Equipment and Records
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Nautical charts</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="NauticalchartsComment" rows="1">@Model.NauticalchartsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Notice to mariners</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="NoticetomarinersComment" rows="1">@Model.NoticetomarinersComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">List of radio signals</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ListofradiosignalsComment" rows="1">@Model.ListofradiosignalsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">List of lights (ADP)</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ListoflightsComment" rows="1">@Model.ListoflightsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Sailing directions</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SailingdirectionsComment" rows="1">@Model.SailingdirectionsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Tide tables (ADP)</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="TidetablesComment" rows="1">@Model.TidetablesComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Navtex and printer</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="NavtexandprinterComment" rows="1">@Model.NavtexandprinterComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    8
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Radars</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="RadarsComment" rows="1">@Model.RadarsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    9
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">GPS</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GPSComment" rows="1">@Model.GPSComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    10
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">AIS</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="AISComment" rows="1">@Model.AISComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    11
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">VDR</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="VDRComment" rows="1">@Model.VDRComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    12
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">ECDIS</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ECDISComment" rows="1">@Model.ECDISComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    13
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Echo sounder</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="EchosounderComment" rows="1">@Model.EchosounderComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    14
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">ADP backup laptop</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ADPbackuplaptopComment" rows="1">@Model.ADPbackuplaptopComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    15
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Colour printer</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ColourprinterComment" rows="1">@Model.ColourprinterComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    16
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">VHF DSC transceiver</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="VHFDSCtransceiverComment" rows="1">@Model.VHFDSCtransceiverComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    17
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">MF /HF DSC radio installation</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="radioinstallationComment" rows="1">@Model.radioinstallationComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    18
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Inmarsat C</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="InmarsatCComment" rows="1">@Model.InmarsatCComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    19
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Magnetic compass</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="MagneticcompassComment" rows="1">@Model.MagneticcompassComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    20
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Spare compass bowl</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SparecompassbowlComment" rows="1">@Model.SparecompassbowlComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    21
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Compass observation book</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="CompassobservationbookComment" rows="1">@Model.CompassobservationbookComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    22
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Gyro compass</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GyrocompassComment" rows="1">@Model.GyrocompassComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    23
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Rudder indicator</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="RudderindicatorComment" rows="1">@Model.RudderindicatorComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    24
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Speed log</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SpeedlogComment" rows="1">@Model.SpeedlogComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    25
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Navigation, NUC, and anchor lights</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="NavigationComment" rows="1">@Model.NavigationComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    26
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Signal flags</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SignalflagsComment" rows="1">@Model.SignalflagsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    27
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">RPM / Speed table</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="RPMComment" rows="1">@Model.RPMComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    28
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Basic manoeuvring data</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="BasicmanoeuvringdataComment" rows="1">@Model.BasicmanoeuvringdataComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    29
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Master’s standing orders</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="MasterstandingordersComment" rows="1">@Model.MasterstandingordersComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    30
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Master's night orders book</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="MasternightordersbookComment" rows="1">@Model.MasternightordersbookComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    31
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Sextant</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SextantComment" rows="1">@Model.SextantComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    32
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Azimuth mirror</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="AzimuthmirrorComment" rows="1">@Model.AzimuthmirrorComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    33
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge posters</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="BridgepostersComment" rows="1">@Model.BridgepostersComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    34
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Review of planned maintenance system</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ReviewofplannedComment" rows="1">@Model.ReviewofplannedComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    35
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge bell book</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="BridgebellbookComment" rows="1">@Model.BridgebellbookComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    36
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Bridge navigational watch alarm system</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="BridgenavigationalComment" rows="1">@Model.BridgenavigationalComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%">
                    <textarea class="form-control col-md-12" name="SecurityEquipmentComment" rows="2">@Model.SecurityEquipmentComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="Section breakDiv">
    <div class="SectionHead">
        <u>Section 5I</u> - Navigation
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td>
                    <textarea class="form-control col-md-12" name="NavigationPost" rows="2">@Model.NavigationPost</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsBridgeSectionComplete" style="margin-left:20px;">
    </div>
</div>
