<div class="Section breakDiv">
    <div class="SectionHead">
        <u>Section 5J</u> - Hospital and Medicine Locker
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">General</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GeneralComment" rows="1">@Model.GeneralComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Medicine storage</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="MedicinestorageComment" rows="1">@Model.MedicinestorageComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Medicine chest certificate</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="MedicinechestcertificateComment" rows="1">@Model.MedicinechestcertificateComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Inventory / Stores</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="InventoryStoresComment" rows="1">@Model.InventoryStoresComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Oxygen cylinders and O2 expiry</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="OxygencylindersComment" rows="1">@Model.OxygencylindersComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Stretcher</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="StretcherComment" rows="1">@Model.StretcherComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Saliva / Urine test kits</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SalivaComment" rows="1">@Model.SalivaComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    8
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Alcohol test kits</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="AlcoholComment" rows="1">@Model.AlcoholComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr>
                <td colspan="3" width="100%">
                    <textarea class="form-control col-md-12" name="HospitalComment" rows="2">@Model.HospitalComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsMedicalSectionComplete" style="margin-left:20px;">
    </div>
</div>
