<style>
    .pink.lighten-2 {
        background-color: #0097a7 !important;
    }

        .pink.lighten-2 a {
            color: #ffffff !important;
        }

    .chip {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: rgba(0,0,0,.6);
        line-height: 32px;
        padding: 0 12px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        background-color: #eceff1;
        margin-right: 1px;
        margin-bottom: 1px;
        cursor: pointer;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }

    .close:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .chip .close {
        cursor: pointer;
        float: right;
        font-size: 16px;
        line-height: 32px;
        padding-left: 8px;
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear;
    }

    textarea {
        resize: vertical;
        min-height: 100px;
    }

    .form-group {
        margin-bottom: 0px;
    }
</style>
<script>
    var number;
    var RootUrl = '@Url.Content("~/")';

</script>
<div class="Section breakDivPage" style="padding-top:30px;">
    <div class="SectionHead">
        <u>Section 7</u> - Deficiencies
    </div>
    <div class="SectionContent">
        <table class="table tblSection Deficiencies">
            <input type="hidden" value="-1" id="GIRDeficiencies" />
            <tr>
                <td></td>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="15%" class="v-al-m text-center">Date Raised</td>
                <td width="40%" class="v-al-m text-center">Deficiency</td>
                <td width="15%" class="v-al-m text-center">Date Closed</td>
                <td width="20%" class="v-al-m text-center">File Upload</td>
            </tr>
            @foreach (var item in Model.GIRDeficiencies)
            {
            <tr>
                <td></td>
                <td>@item.No</td>
                <td>@item.DateRaised</td>
                <td>@item.Deficiency</td>
                <td>@item.DateClosed</td>
                <td>
                    @foreach (var item1 in @item.GIRDeficienciesFile)
                    {
                    <div style="line-height: unset;" class="chip pink lighten-2 white-text waves-effect waves-effect file">
                       
                        <a onclick="DownloadCommentFile(' + ReportList[i].GIRCommentFileID+',this)">@item1.FileName</a>
                       
                    </div>
                    }
                </td>

            </tr>
            }
        </table>
     
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsSummarySectionComplete" style="margin-left:20px;">
    </div>
</div>
<br />

<div class="modal fade aviodPrint" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Files types are not supported</h4>
            </div>
            <div class="modal-body">
                <p>&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->