<div class="Section breakDivPage ">
    <div class="SectionHead">
        <u>Section 5K</u> - Galley
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">General</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GeneralGalleyComment" rows="1">@Model.GeneralGalleyComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Hygiene and cleanliness</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="HygieneComment" rows="1">@Model.HygieneComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Food storage</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="FoodstorageComment" rows="1">@Model.FoodstorageComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Food labelling / Rotation</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="FoodlabellingComment" rows="1">@Model.FoodlabellingComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Galley risk assessment</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GalleyriskassessmentComment" rows="1">@Model.GalleyriskassessmentComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Fridge temperature checks and records</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="FridgetemperatureComment" rows="1">@Model.FridgetemperatureComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Food and Provisions Management Handbook available and maintained</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="FoodandProvisionsComment" rows="1">@Model.FoodandProvisionsComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr>
                <td colspan="3" width="100%">
                    <textarea class="form-control col-md-12" name="GalleyComment" rows="2">@Model.GalleyComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsGalleySectionComplete" style="margin-left:20px;">
    </div>
</div>
