<div class="Section breakDiv">
    <div class="SectionHead">
        <u>Section 5B</u> - List of Publications Held On-board
    </div>
    <div class="SectionContent">
        <table class="table tblSection tblSectionManning4d">
            <tr>
                <td width="80%">
                    <p class="m-5">
                        All items listed in the current on board version of Fleet Standing Order TSO 05 - Training and
                        Publications Library and inventory carried out by the DOOW on board within last 3 months.
                    </p>
                </td>
                <td width="20%" class="v-al-m text-center">
                    <label class="radio-inline">
                        <input type="radio" name="CarriedOutByTheDOOW" value="true" checked >Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="CarriedOutByTheDOOW" value="false" checked>No
                    </label>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="Section breakDivPage">
    <div class="SectionHead">
        <u>Section 5C</u> - List of Documents
    </div>
    <div class="SectionContent">
        <table class="table tblSection tblSectionManning4d">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Document</td>
                <td width="10%" class="v-al-m text-center">
                    O/B <br />
                    Yes/No
                </td>
                <td width="40%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Regs4ships DVD</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsRegs4shipsDVD==true)
                    {
                        <input type="checkbox" name="IsRegs4shipsDVD" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" name="IsRegs4shipsDVD" />
                    }

                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="Regs4shipsDVD" rows="1" placeholder="Issue/Year">@Model.Regs4shipsDVD</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    2
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">SOPEP & latest list of operational contact points</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsSOPEPPoints==true)
                    {
                        <input type="checkbox" name="IsSOPEPPoints" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="IsSOPEPPoints" />
                    }

                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="SOPEPPoints" rows="1">@Model.SOPEPPoints</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    3
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Ballast Water Management Plan (BWMP)</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsBWMP==true)
                    {
                    <input type="checkbox" name="IsBWMP" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsBWMP" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="BWMP" rows="1">@Model.BWMP</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    4
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">BWMP supplement (if applicable)</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsBWMPSupplement==true)
                    {
                    <input type="checkbox" name="IsBWMPSupplement" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsBWMPSupplement" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="BWMPSupplement" rows="1">@Model.BWMPSupplement</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    5
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Intact Stability Manual</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsIntactStabilityManual==true)
                    {
                    <input type="checkbox" name="IsIntactStabilityManual" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsIntactStabilityManual" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="IntactStabilityManual" rows="1">@Model.IntactStabilityManual</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6a
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Stability computer: Type-approval and approved software</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsStabilityComputer==true)
                    {
                    <input type="checkbox" name="IsStabilityComputer" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsStabilityComputer" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="StabilityComputer" rows="1">@Model.StabilityComputer</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6b
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Date of last test and printout sighted</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsDateOfLast==true)
                    {
                    <input type="checkbox" name="IsDateOfLast" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsDateOfLast" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="DateOfLast" rows="1">@Model.DateOfLast</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    7
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Cargo securing manual</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsCargoSecuring==true)
                    {
                    <input type="checkbox" name="IsCargoSecuring" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsCargoSecuring" />
                    }
                   
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="CargoSecuring" rows="1">@Model.CargoSecuring</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    8
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Bulk cargo stowage manual</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsBulkCargo==true)
                    {
                    <input type="checkbox" name="IsBulkCargo" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsBulkCargo" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="BulkCargo" rows="1">@Model.BulkCargo</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    9
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">SMS Manual</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsSMSManual==true)
                    {
                    <input type="checkbox" name="IsSMSManual" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsSMSManual" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="SMSManual" rows="1">@Model.SMSManual</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    10
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Register of forms and checklists</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsRegisterOf==true)
                    {
                    <input type="checkbox" name="IsRegisterOf" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsRegisterOf" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="RegisterOf" rows="1">@Model.RegisterOf</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    11
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Fleet Standing Order file</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsRegisterOf==true)
                    {
                    <input type="checkbox" name="IsFleetStandingOrder" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsFleetStandingOrder" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="FleetStandingOrder" rows="1">@Model.FleetStandingOrder</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    12
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Fleet Memoranda file</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsFleetMemoranda==true)
                    {
                    <input type="checkbox" name="IsFleetMemoranda" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsFleetMemoranda" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="FleetMemoranda" rows="1">@Model.FleetMemoranda</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    13
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Ships plans and operational manuals</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsShipsPlans==true)
                    {
                    <input type="checkbox" name="IsShipsPlans" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsShipsPlans" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="ShipsPlans" rows="1">@Model.ShipsPlans</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    14
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Collective bargaining agreements available on board (i.e.POEA, Nautilus, ITF as applicable)</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsCollective==true)
                    {
                    <input type="checkbox" name="IsCollective" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsCollective" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="Collective" rows="1">@Model.Collective</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    15
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Draft and freeboard notice</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsDraftAndFreeboardNotice==true)
                    {
                    <input type="checkbox" name="IsDraftAndFreeboardNotice" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsDraftAndFreeboardNotice" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="DraftAndFreeboardNotice" rows="1">@Model.DraftAndFreeboardNotice</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    16
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Panama canal SOPEP (PCSOPEP)</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsPCSOPEP==true)
                    {
                    <input type="checkbox" name="IsPCSOPEP" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsPCSOPEP" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="PCSOPEP" rows="1">@Model.PCSOPEP</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    17
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">NT-VRP, and ship specific appendix B (if applicable)</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsNTVRP==true)
                    {
                    <input type="checkbox" name="IsNTVRP" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsNTVRP" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="NTVRP" rows="1">@Model.NTVRP</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    18
                </td>
                <td width="40%" class="v-al-m"><p class="m-0 m-l-5">Vessel General Permit (VGP) (if applicable)</p></td>
                <td width="10%" class="v-al-m text-center">
                    @if(Model.IsNTVRP==true)
                    {
                    <input type="checkbox" name="IsVGP" checked />
                    }
                    else
                    {
                    <input type="checkbox" name="IsVGP" />
                    }
                </td>
                <td width="40%">
                    <textarea class="form-control col-md-12" name="VGP" rows="1">@Model.VGP</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%">
                    <textarea class="form-control col-md-12" name="PubsComments" rows="1">@Model.PubsComments</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsPubsAndDocsSectionComplete" style="margin-left:20px;">
    </div>
</div>
