<div class="Section breakDivPage">
    <div class="SectionHead">
        <u>Section 5Q</u> - Cargo Holds and Hatch Covers
    </div>
    <div class="SectionContent">
        <table class="table tblSection">
            <tr>
                <td width="10%" class="v-al-m text-center">
                    No.
                </td>
                <td width="40%" class="v-al-m text-center">Item</td>
                <td width="50%" class="v-al-m text-center">Comment</td>
            </tr>
            <tr>
                <td colspan="3" width="100%" class="v-al-m text-center">
                    Holds
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    1
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Condition</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ConditionComment5Q" rows="1">@Model.ConditionComment5Q</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    2
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Paintwork</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="PaintworkComment5Q" rows="1">@Model.PaintworkComment5Q</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    3
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Mechanical damage</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="MechanicaldamageComment" rows="1">@Model.MechanicaldamageComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    4
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Access ladders</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="AccessladdersComment" rows="1">@Model.AccessladdersComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    5
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Manhole covers to double bottoms</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ManholecoversComment5Q" rows="1">@Model.ManholecoversComment5Q</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    6
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Hold bilge wells</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="HoldbilgeComment" rows="1">@Model.HoldbilgeComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    7
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Access doors / Hatches to holds</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="AccessdoorsComment" rows="1">@Model.AccessdoorsComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="100%" class="v-al-m text-center">
                    Hatch Covers and Coamings
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    8
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Condition</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ConditionHatchCoversComment" rows="1">@Model.ConditionHatchCoversComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    9
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Paintwork</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="PaintworkHatchCoversComment" rows="1">@Model.PaintworkHatchCoversComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    10
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Rubber seals</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="RubbersealsComment" rows="1">@Model.RubbersealsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    11
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Signs of hatches not being watertight</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SignsofhatchesComment" rows="1">@Model.SignsofhatchesComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    12
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Sealing tape/Foam in use</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="SealingtapeComment" rows="1">@Model.SealingtapeComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    13
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Condition of hydraulics, wheels, track ways, quick release cleats etc.</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ConditionofhydraulicsComment" rows="1">@Model.ConditionofhydraulicsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    14
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Portable bulkheads</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="PortablebulkheadsComment" rows="1">@Model.PortablebulkheadsComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    15
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Tween decks</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="TweendecksComment" rows="1">@Model.TweendecksComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    16
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Hatch coaming drains and plugs</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="HatchcoamingComment" rows="1">@Model.HatchcoamingComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="100%" class="v-al-m text-center">
                    Cargo Cranes and / or Gantry Crane
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    17
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Condition</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="ConditionCargoCranesComment" rows="1">@Model.ConditionCargoCranesComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    18
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Gantry crane alarm signals (bell & light)</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GantrycranealarmComment" rows="1">@Model.GantrycranealarmComment</textarea>
                </td>
            </tr>
            <tr>
                <td width="10%" class="v-al-m text-center">
                    19
                </td>
                <td width="40%" class="v-al-m">
                    <p class="m-0 m-l-5">Gantry condition of lifting wire / hydraulic jack:</p>
                </td>
                <td width="50%">
                    <textarea class="form-control col-md-12" name="GantryconditionComment" rows="1">@Model.GantryconditionComment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" width="100%" class="v-al-m">
                    Comments:
                </td>
            </tr>
            <tr>
                <td colspan="3" width="100%">
                    <textarea class="form-control col-md-12" name="CargoHoldsComment" rows="2">@Model.CargoHoldsComment</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="SectionComplete">
    <div class="checkbox">
        <label>Section Complete?</label>
        <input type="checkbox" name="IsHoldsAndCoverSectionComplete" style="margin-left:20px;">
    </div>
</div>
